.App {
  text-align: center;
}
.bg{
  background-color: green;
}
.navbar-toggler:focus{
  box-shadow: none;
  color:white;
}
@media(max-width:765px){
  .collapse-div{
    margin-top: 40px;
  }
  .collapse-div ul{
    row-gap: 10px;
  }

  .icon-white{
    border-color:white;
  }
}


.submit-btn{
  width:100px;
}
.submit-btn:hover{
  background-color:brown;
}

#table{
  width:80%;
  margin: auto;

}
 /* tr th{
  cursor: pointer;
} */